# Docker & OS
.DS_Store
.idea
*.log

# Laravel
edunexa/.env
edunexa/vendor/
edunexa/node_modules/
edunexa/storage/framework/cache/data/*
edunexa/storage/framework/sessions/*
edunexa/storage/framework/views/*.php
edunexa/storage/logs/*.log
edunexa/public/storage

# Database data (Opsional)
# Jika kamu ingin database tetap kosong saat di-push, abaikan folder data mysql jika ada
